<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

th {
  font-size: 1.5em;
}

td:nth-child(1) {
  width: 20%;
}

td:nth-child(3) {
  width: 10%;
}

tr {
  background-color: #eeeeee;
}
tr:nth-child(1) {
  background-color: #ffffff;
}

#mail_content {
  font-weight: bold;
  font-size: 20px;
  text-decoration: none;
}

</style>
<h1><center>MES EMAILS</center></h1>
<table>
  <tr>
    <th>Objet</th>
    <th>Contenu</th>
    <th>Action</th>
  </tr>
  <% @email.each do |email|%>
  <tr class="email_<%= email.id %>">
    <td>Obj: <p id="mail_content" class="mail_objet_<%= email.id %>"><%= link_to email.objet, email, :remote => true, :class => 'show_email', :id => email.id %></p></td>

    <td><p class="body_<%= email.id %>"><%= email.body %></p></td>
    <td><center><%= link_to '<i class="far fa-trash-alt"></i>'.html_safe, email, method: :delete, data: {confirm: "Etes-vous sur ?"}, :remote => true, :class => 'delete_email' %></center></td>
  </tr>
  <% end %>
</table>

<script>
  $(document).ready(function() {

    <% @email.each do |email| %>
     $(".body_<%= email.id %>").hide();
    <% end %>

    $(".show_email").click(function() {
      var getID = this.id;
      $(".body_"+getID).toggle();
      $(".mail_objet_"+getID).css('font-weight', 'normal');
      $(".email_"+getID).css('background-color', '#ffffff');
    });
  });
</script>
